{% extends 'base.html' %}

  {% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Collections</a></li>
        <li class="breadcrumb-item active" aria-current="page">About me</li>
      </ol>
    </nav>
  {% endblock %}


{% block content %}

If you reading this message, this means you digged enought in my task. That may sound promising, as for me.
<p>
<p>
This is my first expirience with petl and managing the data to render aggregated was the most painful and time consuming. I just wonder: why don`t you use numpy, pandas?
It is fast, convinient and there is much more info in the Internet about it. It has a good ecosystem around it: numba/modin to speed up, tensorflow/keras, some chart drawers, etc.

<h3>About task</h3>
Why it made in that way:
<ul>
    <li>I did not used any kind of task queues, as you requested.</li>
    <li>I used default interface borrowed from Bootstrap site. Just to keep it nice and pretty.</li>
    <li>I did not used any JS frameworks. As long as I don`t want to be a full-stack developer and I want to keep sharp in back-end development.</li>
    <li>I did not find out hot to beat some werk behavior petl which breaks structure in some cases. See <b>main.views.aggregate</b>:
        <p>
        <p>
        <code>
            data = petl.convert(data, {x: lambda x: (x, ) for x in headers})
        </code>
        Where am I converting columnst into tuples, and getting back it in template (explore.html). Otherwhise i was getting:
        <code>
          {% if params|length == 2 or forloop.last %}
              {{ cell }}
          {% else %}
              {{ cell.0 }}
          {% endif %}
        </code>
</ul>

<h3>Ways to improve</h3>
<ul>
    <li>Use task queue to postpone heavy and long-pending network operations into separate HTTP-thread.</li>
    <li>Apply some JS framework to make interface more responsible.</li>
    <li>Swithck from petl to pandas. I bet pytl is not soc widelly spreaded as pandas does. At least you ll get more chances to find a person who can support your project.</li>
    <li>Implement logging (Elasticsearch+logstash+Kibana)</li>
    <li>Implement profiling (Newrelic or Graphene)</li>
    <li>Implement Error tracking (Sentry)</li>
    <li>Implement CD/CI</li>
    <li>Implement testing (but it is expensive)</li>
</ul>


If you interested to work with me, you can find more info in my <a href="/static/files/cv.pdf">cv</a>.
{% endblock %}

{% block pagination %}{% endblock %}


