<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Product example · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/product/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
  <div class="col-md-10 p-lg-10 mx-auto my-5">

  {% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Collections</a></li>
      </ol>
    </nav>
  {% endblock %}

  {% block aggregators %}{% endblock %}

  {% block content %}{% endblock %}

  {% block pagination %}
  <nav style="padding: 5px 0px;">
    <ul class="pagination">
      {% if page.has_previous %}
        <li class="page-item"><a class="page-link" href="/{% if params %}&{{ params }}{% endif %}">&laquo; First</a></li>
        <li class="page-item"><a class="page-link" href="/{{ page.previous_page_number }}/{% if params %}&{{ params }}{% endif %}">Previous</a></li>
      {% endif %}
        <li class="page-item"><a class="page-link">Page {{ page.number }} of {{ page.paginator.num_pages }}</a></li>
      {% if page.has_next %}
        <li class="page-item"><a class="page-link" href="/{{ page.next_page_number }}/{% if params %}&{{ params }}{% endif %}">Next</a></li>
        <li class="page-item"><a class="page-link" href="/{{ page.paginator.num_pages }}/{% if params %}&{{ params }}{% endif %}">Last &raquo;</a></li>
      {% endif %}
      </ul>
  </nav>
  {% endblock %}

  </div>
</div>


<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; Vladimir Chernetsov</small>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/static/files/cv.pdf">cv</a></li>
        <li><a class="text-muted" href="/static/files/task.pdf">task</a></li>
        <li><a class="text-muted" href="https://bitbucket.org/vchernetsov/starwy/src/master/">git repository</a></li>
        <li><a class="text-muted" href="/about">about</a></li>
      </ul>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script></body>
</html>
    
