{% extends 'base.html' %}

  {% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Collections</a></li>
        <li class="breadcrumb-item active" aria-current="page">Showing {{ collection }}</li>
      </ol>
    </nav>
  {% endblock %}


{% block content %}
<form action="/" method="POST">
    {% csrf_token %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          {% for header in headers %}
            <th>{{ header }} </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in page %}
        <tr>
          {% for cell in row %}
          <td>
              {{ cell }}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
</form>
{% endblock %}

{% block pagination %}
<nav style="padding: 5px 0px;">
    <ul class="pagination">
      {% if page.has_previous %}
        <li class="page-item"><a class="page-link" href="/{{ uri_prefix }}/{{ collection.id }}/1/">&laquo; First</a></li>
        <li class="page-item"><a class="page-link" href="/{{ uri_prefix }}/{{ collection.id }}/{{ page.previous_page_number }}/">Previous</a></li>
      {% endif %}
        <li class="page-item"><a class="page-link">Page {{ page.number }} of {{ page.paginator.num_pages }}</a></li>
      {% if page.has_next %}
        <li class="page-item"><a class="page-link" href="/{{ uri_prefix }}/{{ collection.id }}/{{ page.next_page_number }}/">Next</a></li>
        <li class="page-item"><a class="page-link" href="/{{ uri_prefix }}/{{ collection.id }}/{{ page.paginator.num_pages }}/">Last &raquo;</a></li>
      {% endif %}
      </ul>
</nav>
{% endblock %}
