{% extends 'base.html' %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Collections</a></li>
    <li class="breadcrumb-item active" aria-current="page">Exploring {{ collection }}</li>
  </ol>
</nav>
{% endblock %}


{% block aggregators %}

<div class="btn-group" role="group" aria-label="Basic example">
  {% for header in headers %}
    <button type="button" class="btn btn-secondary{% if header in params %} active{% endif %}"><a href="?clicked={{ header }}{%if params_string %}&params={{ params_string }}{% endif %}">{{ header }}</a></button>
  {% endfor %}
</div>
<p>
{% endblock %}


{% block content %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      {% for header in params %}
        <th>{{ header }} </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in page %}
    <tr>
      {% for cell in row %}
      <td>
          {% if params|length == 2 or forloop.last %}
          {{ cell }}
          {% else %}
          {{ cell.0 }}
          {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block pagination %}
<nav style="padding: 5px 0px;">
    <ul class="pagination">
      {% if page.has_previous %}
        <li class="page-item"><a class="page-link" href="/{{ uri_prefix }}/{{ collection.id }}/1/{%if params_string %}?params={{ params_string }}{% endif %}">&laquo; First</a></li>
        <li class="page-item"><a class="page-link" href="/{{ uri_prefix }}/{{ collection.id }}/{{ page.previous_page_number }}/{%if params_string %}?params={{ params_string }}{% endif %}">Previous</a></li>
      {% endif %}
        <li class="page-item"><a class="page-link">Page {{ page.number }} of {{ page.paginator.num_pages }}</a></li>
      {% if page.has_next %}
        <li class="page-item"><a class="page-link" href="/{{ uri_prefix }}/{{ collection.id }}/{{ page.next_page_number }}/{%if params_string %}?params={{ params_string }}{% endif %}">Next</a></li>
        <li class="page-item"><a class="page-link" href="/{{ uri_prefix }}/{{ collection.id }}/{{ page.paginator.num_pages }}/{%if params_string %}?params={{ params_string }}{% endif %}">Last &raquo;</a></li>
      {% endif %}
      </ul>
</nav>
{% endblock %}
