{% extends 'base.html' %}

{% block content %}
<form action="/" method="POST">
    {% csrf_token %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Collections <button class="btn btn-success">Fetch</button></th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for collection in page %}
        <tr>
          <td>
            {{ collection }}
          </td>
          <td>
            <a href="/characters/{{ collection.id }}/1/">show</a>
            <a href="/explore/{{ collection.id }}/1/">explore</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</form>
{% endblock %}
